language: python
python:
 - "3.6"
# need to refactor to requirements/ setup
install:
 - pip install pipenv
 - pipenv install --dev
script:
# have pylint only show warnings and errors
# and ignore regular syntax errors
 - pylint --disable=R,C nessie
 - python -m unittest
env:
  global:
    secure: kxSk6tcEhkvodjtDWCeJf/qI/vpRptfGZ6UmZ2G9GbHizXIVFleEmDmIZyWNnqRqv/ugdomlQhif0FRGod/e73MoIV9qa7kGWxuhExOhWzTo8tz0NzyyqLAFTmw5IB8m09H6MhJY9VpPygbpN0aWjOrrKdxRsj0ocVXPn3M62je6Om2ndSjMbynWrYutrhtijcp3BVka2vvjy6iNt9i0ZK/M0dsqqnuEgXe5uL4xKcmpvWu56QYcRhNky6qzxhh3Y1pyoBF7fA7fH2EnECCpnJaBFrdQFJzJ7VNAdoztX15G1E5KSudJu+qnKEw91RoQz9F9lmJgJJlJnYYMrjAqIE1h6eS560vFU1UGUZs1MU+FAWmRS1V09l+YKEtfmXg6NOO8tyzMuOEj1opwA95q1j17Ffg7E3SEs38ICpQYuK3LZUTlXELVsfPizR+70CQFDzWjI/OTIo6xi1gE1gWYUo3bHXIAn5jCJQiWNxMkaKavE+YXj/zWePJIeWlWbx1ZV0kZrhJ+V7Prlh86VYFPyI/jPdj+6Jc8IbvxDtsvCn2WZiHNJqtBTlcTT+kN5WShbq5bC+fMa++uffVe1nFy/cFEMaUX+tN2r/puzSPn4YCZ8BAHOuSKbUMEVk6j8ZKDBzqCMPxoYwFHdrrlbFC+lqEj38Z3+odV9Ni4CrquiUA=